<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="wordReplace" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <appSettings>
    <!--默认的CSV文件地址，会被命令行第一个参数覆盖-->
    <add key="CSVFile" value="./DXYArea.csv" />
    <!--默认的输出文件目录，会被命令行第二个参数覆盖-->
    <add key="OutputDir" value="./" />
    <!--数据的开始计算时间，对应TimeOffset字段的浮点数值-->
    <add key="StartTime" value="2020/1/24" />
    <!--CSV数据字段对应索引,从0计数，依次为“更新时间,父名称,父确诊数,父疑似数,父康复数,父死亡数,子名称,子确诊数,子疑似数,子康复数,子死亡数”-->
    <add key="CSVIndex" value="11,4,7,8,9,10,12,15,16,17,18" />
    <!--CSV数据字段的分隔符，\t可用“&#x9;”来表示-->
    <add key="CSVSeparators" value=",;&#x9;" />
    <!--CSV数据日期时间字段格式-->
    <add key="CSVDateTimeFmt" value="yyyy-MM-dd HH:mm:ss" />
    <!--是否生成CSV文件，0为不生成，1为生成-->
    <add key="GenerateCSV" value="1" />
    <!--是否生成字典形式JSON文件，0为不生成，1为生成-->
    <add key="GenerateDictionaryJSON" value="0" />
    <!--是否生成数组形式JSON文件，0为不生成，1为生成-->
    <add key="GenerateArrayJSON" value="0" />
    <!--是否生成所有字段数据，0为不生成，1为生成-->
    <add key="GenerateAllFields" value="0" />
    <!--生成的UpdateTime字段时间数据格式-->
    <add key="DateTimeFormat" value="yyyy-MM-dd HH:mm:ss" />
    <!--当前程序要使用的Culture，中文是en-US，英文是en-US，影响字符串排序-->
    <add key="Culture" value="zh-CN" />
  
  </appSettings>
  <wordReplace>
    <!--名称合并，先替换长名称，再替换短名称/>-->
    <add key="未知地区" value="U_A" />
    <add key="未知" value="U_A" />
    <add key="未明确地区" value="U_A" />
    <add key="未明确" value="U_A" />
    <add key="待明确地区" value="U_A" />
    <add key="待明确" value="U_A" />
    <add key="不明地区" value="U_A" />
    <add key="外地来粤人员" value="F_R" />
    <add key="外地来穗人员" value="F_R" />
    <add key="外地来京人员" value="F_R" />
    <add key="外地来津人员" value="F_R" />
    <add key="外地来津" value="F_R" />
    <add key="外地来沪人员" value="F_R" />
    <add key="武汉来京人员" value="F_R" />
    <add key="淄博市" value="淄博" />
    <add key="长垣县" value="长垣" />
    <add key="长寿区" value="长寿" />
    <add key="长宁区" value="长宁" />
    <add key="云阳县" value="云阳" />
    <add key="渝中区" value="渝中" />
    <add key="渝北区" value="渝北" />
    <add key="酉阳县" value="酉阳" />
    <add key="永川区" value="永川" />
    <add key="杨浦区" value="杨浦" />
    <add key="延庆区" value="延庆" />
    <add key="徐汇区" value="徐汇" />
    <add key="秀山县" value="秀山" />
    <add key="西青区" value="西青" />
    <add key="西宁市" value="西宁" />
    <add key="西城区" value="西城" />
    <add key="武清区" value="武清" />
    <add key="武隆区" value="武隆" />
    <add key="巫溪县" value="巫溪" />
    <add key="巫山县" value="巫山" />
    <add key="乌海市" value="乌海" />
    <add key="万州区" value="万州" />
    <!--<add key="万盛经开区" value="万盛经开"/>-->
    <add key="吐鲁番市" value="吐鲁番" />
    <add key="潼南区" value="潼南" />
    <add key="铜梁区" value="铜梁" />
    <add key="通州区" value="通州" />
    <add key="通辽市经济开发区" value="通辽" />
    <add key="天水市" value="天水" />
    <add key="松江区" value="松江" />
    <add key="四平市" value="四平" />
    <add key="朔州市" value="朔州" />
    <add key="顺义区" value="顺义" />
    <add key="石柱县" value="石柱" />
    <add key="石景山区" value="石景山" />
    <!--<add key="神农架林区" value="神农架林"/>-->
    <add key="沙坪坝区" value="沙坪坝" />
    <add key="荣昌区" value="荣昌" />
    <add key="琼中县" value="琼中" />
    <add key="琼海市" value="琼海" />
    <add key="青浦区" value="青浦" />
    <add key="黔江区" value="黔江" />
    <add key="綦江区" value="綦江" />
    <add key="普陀区" value="普陀" />
    <add key="浦东新区" value="浦东" />
    <add key="浦东区" value="浦东" />
    <add key="平凉市" value="平凉" />
    <add key="彭水县" value="彭水" />
    <add key="宁河区" value="宁河" />
    <add key="南开区" value="南开" />
    <add key="南岸区" value="南岸" />
    <add key="闵行区" value="闵行" />
    <add key="密云区" value="密云" />
    <add key="门头沟区" value="门头沟" />
    <add key="漯河市" value="漯河" />
    <add key="陵水县" value="陵水" />
    <add key="临高县" value="临高" />
    <add key="临汾市" value="临汾" />
    <add key="两江新区" value="两江" />
    <add key="梁平区" value="梁平" />
    <add key="丽江市" value="丽江" />
    <add key="开州区" value="开州" />
    <!--<add key="九龙坡区" value="九龙坡"/>-->
    <add key="静安区" value="静安" />
    <add key="津南区" value="津南" />
    <add key="金山区" value="金山" />
    <add key="金昌市" value="金昌" />
    <add key="江津区" value="江津" />
    <add key="江北区" value="江北" />
    <add key="嘉定区" value="嘉定" />
    <add key="吉林市" value="吉林" />
    <add key="黄浦区" value="黄浦" />
    <add key="怀柔区" value="怀柔" />
    <add key="呼伦贝尔牙克石市" value="呼伦贝尔牙克石" />
    <add key="虹口区" value="虹口" />
    <add key="红桥区" value="红桥" />
    <add key="鹤壁市" value="鹤壁" />
    <add key="河源市" value="河源" />
    <add key="河西区" value="河西" />
    <add key="河东区" value="河东" />
    <add key="河北区" value="河北" />
    <add key="和平区" value="和平" />
    <add key="合川区" value="合川" />
    <add key="邯郸市" value="邯郸" />
    <add key="海淀区" value="海淀" />
    <add key="固始县" value="固始" />
    <add key="高新区" value="高新" />
    <add key="赣江新区" value="赣江" />
    <add key="涪陵区" value="涪陵" />
    <add key="奉贤区" value="奉贤" />
    <add key="奉节县" value="奉节" />
    <add key="丰台区" value="丰台" />
    <add key="丰都县" value="丰都" />
    <add key="房山区" value="房山" />
    <add key="鄂尔多斯东胜区" value="鄂尔多斯东胜" />
    <add key="东丽区" value="东丽" />
    <add key="东方市" value="东方" />
    <add key="东城区" value="东城" />
    <add key="垫江县" value="垫江" />
    <add key="第八师石河子市" value="第八师石河子" />
    <add key="待明确地区" value="U_A" />
    <add key="大足区" value="大足" />
    <add key="大兴区" value="大兴" />
    <add key="大渡口区" value="大渡口" />
    <add key="崇明区" value="崇明" />
    <!--<add key="赤峰市松山区" value="赤峰市松山"/>
    <add key="赤峰市林西县" value="赤峰市林西"/>-->
    <add key="澄迈县" value="澄迈" />
    <add key="城口县" value="城口" />
    <add key="朝阳区" value="朝阳" />
    <add key="昌平区" value="昌平" />
    <add key="不明地区" value="U_A" />
    <add key="兵团第五师五家渠市" value="兵团第五师五家渠" />
    <add key="兵团第六师五家渠市" value="兵团第六师五家渠" />
    <add key="兵团第八师石河子市" value="兵团第八师石河子" />
    <add key="滨海新区" value="滨海" />
    <add key="璧山区" value="璧山" />
    <add key="北辰区" value="北辰" />
    <add key="宝山区" value="宝山" />
    <add key="宝坻区" value="宝坻" />
    <add key="包头市昆都仑区" value="包头市昆都仑" />
    <add key="包头市东河区" value="包头市东河" />
    <add key="白银市" value="白银" />
    <add key="巴南区" value="巴南" />
    <add key="安阳市" value="安阳" />
    <add key="阿克苏地区" value="阿克苏" />
    <add key="新乡（含长垣）" value="新乡" />
    <add key="商丘（含永城）" value="商丘" />
    <add key="南阳（含邓州）" value="南阳" />
    <add key="呼和浩特（新城区）" value="呼和浩特" />
    <add key="安阳（含滑县）" value="安阳" />
    <add key="伊犁州" value="伊犁" />
    <add key="湘西自治州" value="湘西" />
    <add key="西双版纳州" value="西双版纳" />
    <add key="文山州" value="文山" />
    <add key="黔西南州" value="黔西南" />
    <add key="黔南州" value="黔南" />
    <add key="黔东南州" value="黔东南" />
    <add key="凉山州" value="凉山" />
    <add key="红河州" value="红河" />
    <add key="海北州" value="海北" />
    <add key="甘孜州" value="甘孜" />
    <add key="恩施州" value="恩施" />
    <add key="德宏州" value="德宏" />
    <add key="大理州" value="大理" />
    <add key="楚雄州" value="楚雄" />
    <add key="昌吉州" value="昌吉" />
    <add key="北海州" value="北海" />
    <add key="阿坝州" value="阿坝" />
    <add key="U_A" value="待明确地区" />
    <add key="F_R" value="外地来人员" />
    
    <!--生成英文配置请对应修改即可-->
    <add key="江苏省" value="江苏" />
    <add key="贵州省" value="贵州" />
    <add key="河南省" value="河南" />
    <add key="山东省" value="山东" />
    <add key="内蒙古自治区" value="内蒙古" />
    <add key="福建省" value="福建" />
    <add key="吉林省" value="吉林" />
    <add key="广西壮族自治区" value="广西" />
    <add key="黑龙江省" value="黑龙江" />
    <add key="湖北省" value="湖北" />
    <add key="河北省" value="河北" />
    <add key="山西省" value="山西" />
    <add key="重庆市" value="重庆" />
    <add key="湖南省" value="湖南" />
    <add key="甘肃省" value="甘肃" />
    <add key="新疆维吾尔自治区" value="新疆" />
    <add key="天津市" value="天津" />
    <add key="四川省" value="四川" />
    <add key="陕西省" value="陕西" />
    <add key="浙江省" value="浙江" />
    <add key="广东省" value="广东" />
    <add key="安徽省" value="安徽" />
    <add key="海南省" value="海南" />
    <add key="宁夏回族自治区" value="宁夏" />
    <add key="云南省" value="云南" />
    <add key="上海市" value="上海" />
    <add key="青海省" value="青海" />
    <add key="辽宁省" value="辽宁" />
    <add key="江西省" value="江西" />
    <add key="北京市" value="北京" />
    <add key="西藏自治区" value="西藏" />
    <!--以下替换是避免逗号造成的解析错误-->
    <add key=", Xinjiang" value=" Xinjiang" />
    <add key="\r\n" value="\n" />
  </wordReplace>
</configuration>